body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

h1 {
  color: darkgreen;
  font-size: 20;
}

h2 {
    color: #34f434;
    font-size: 16
 }

p {
    color: blue;
    font-size: 12 
}
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
}